window {
    margin: 0;
    border: 2px solid #88c0d0;
    border-radius: 10px;
    background-color: #12151a;
    color: #eceff4;
    font-family: "Noto Sans";
    font-size: 15px;
}

#outer-box {
    padding: 10px;
    background-color: #12151a;
}

#input {
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 7px;
    color: #eceff4;
    background-color: #2a2e35;
}

#scroll,
#inner-box {
    background-color: #12151a;
}

#entry {
    padding: 8px;
    border-radius: 7px;
    background-color: #12151a;
}

#entry:selected {
    background-color: #486b78;
}

#text {
    color: #eceff4;
}

#text:selected {
    color: #ffffff;
}
