@import "colors.css";

window {
    margin: 0;
    border: 2px solid @launcher_accent;
    border-radius: 10px;
    background-color: @launcher_bg;
    font-family: "Noto Sans";
    font-size: 15px;
}

#outer-box,
#scroll,
#inner-box {
    background-color: @launcher_bg;
}

#input {
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 7px;
    color: @launcher_fg;
    background-color: @launcher_field;
}

#inner-box {
    margin: 0 10px 10px;
}

#entry {
    padding: 8px;
    border-radius: 7px;
}

#entry:selected {
    background-color: @launcher_selection;
}

#text {
    color: @launcher_fg;
}

#text:selected {
    color: @launcher_selection_fg;
}
